body {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, #ff1f1f67 50%, #0000006c 50%);
    background-size: 200px 100%;
}
h1 {
    color: rgb(255, 47, 47);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:link {
    text-decoration: none;
    color: rgb(248, 248, 248);
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
.header-main {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.116);
    height: 100px;
    }
.imgL22 {
    width: 200px;
    position: absolute;
    left: 50px;
}
.header-1 {
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
.nav22_btn:hover {
    background-color: rgb(236, 38, 38);
    border-radius: 5px;
    animation-name: bounce;
    animation-duration: 0.5s;
}
@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
}

.btn1 {
    position: absolute;
    top: 600px;
    left: 100px;
}
.btn2 {
    position: absolute;
    top: 600px;
    left: 1500px;
}
.btnn1 {
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    animation-duration: 0.5s;
}
.btnn2 {
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    animation-duration: 0.5s;
}
.btnn1:hover {
    background-color: rgb(236, 38, 38);
}
.btnn2:hover {
    background-color: rgb(236, 38, 38);
}
.words-1 {
    position:absolute;
    top: 180px;
    left: 750px;
}
.fimage {
    background-color: rgb(0, 0, 0);
    height: 400px;
    width: 400px;
}
.simage {
    background-color: rgb(0, 0, 0);
    height: 400px;
    width: 400px;
}
.timage {
    background-color: rgb(0, 0, 0);
    height: 400px;
    width: 400px;
}
.imgft {
    transition: transform .2s;
}
.imgft:hover {
    transform: scale(1.1); 
  }


img {
	display: block;
    margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.second {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
}

.third {
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
    gap: 0px;
}
